
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  position: fixed;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  z-index: 10;
}

.topNavIcon {
  display: flex;
  gap: 1rem;
}

.btn-nav {
  color: azure;
  background-color: #333333bd;
  padding: 0.5rem;
  max-block-size: 2rem;
  max-inline-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.conMain {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.conItem {
  width: 25%;
  position: relative;
}

.Item1, .Item2, .Item3, .Item4 {
  position: relative;
  background-color: azure;
  transition: all 0.5s;
}

.img {
  position: absolute;
  top: 30%;
  left: 27%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  scale: 0.5;
  filter: drop-shadow(15px 30px 7px #0000006c);
  opacity: 0;
}

.Item1:hover {
  background: radial-gradient(circle, rgb(200, 245, 200), rgb(34, 139, 87));
}
.Item2:hover {
  background: radial-gradient(circle, rgb(255, 224, 178), rgb(245, 124, 0));
}
.Item3:hover {
  background: radial-gradient(circle, rgb(252, 228, 236), rgb(206, 147, 216));
}
.Item4:hover {
  background: radial-gradient(circle, rgb(255, 255, 255), rgb(176, 176, 176));
}

.Item1:hover .img1,
.Item2:hover .img2,
.Item3:hover .img3,
.Item4:hover .img4 {
  scale: 0.9;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.Item1:hover .group_text1,
.Item2:hover .group_text2,
.Item3:hover .group_text3,
.Item4:hover .group_text4 {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.group_text, .groupTextSelected {
  position: absolute;
  transition: all 1s ease;
  font-family: 'Poppins', sans-serif;
}
.group_text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.group_text p, .groupTextSelected p {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin: 0;
  letter-spacing: 1px;
}

.group_text h2, .groupTextSelected h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0 4px;
  color: #111;
}

.group_text h3, .groupTextSelected h3 {
  font-size: 14px;
  color: #555;
}

.group_text .btnView,
.groupTextSelected .btnAdd,
.btnBack, .hideBtnBack {
  padding: 10px 20px;
  background-color: #fff;
  color: #222;
  border: none;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
}

.group_text .btnView:hover,
.groupTextSelected .btnAdd:hover,
.btnBack:hover {
  background-color: #ff8d6c;
  color: white;
}

.hide {
  width: 0%;
  overflow: hidden;
}

.hideBtn{
  width: 0%;
  opacity: 0;
}
.show {
  width: 100%;
}
.show .img {
  rotate: -20deg;
  z-index: 9;
  scale: 1.2;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.show .groupTextSelected {
  top: 70%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.Item1_2 {
  background: radial-gradient(circle, rgb(200, 245, 200), rgb(34, 139, 87));
}
.Item2_2 {
  background: radial-gradient(circle, rgb(255, 224, 178), rgb(245, 124, 0));
}
.Item3_2 {
  background: radial-gradient(circle, rgb(252, 228, 236), rgb(206, 147, 216));
}
.Item4_2 {
  background: radial-gradient(circle, rgb(255, 255, 255), rgb(176, 176, 176));
}

.showh4, .showh5 {
  font-size: 12px;
  font-weight: 400;
  color: #444;
  max-width: 15rem;
  max-block-size: 3.5rem;
  line-height: 1.5;
  transition: all 1s ease;
  transition-delay: 2.5s;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  margin: auto;
}

.showh4 {
  margin-block: auto;
  font-weight: 600;
  color: #333;
}

.hideh4 {
  margin: auto;
  max-block-size: 0rem;
  opacity: 0;
  visibility: hidden;
}

.textBG, .hideTextBG {
  position: absolute;
  text-align: center;
  width: 80%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  font-size: 230px;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: all 2s ease 0.5s;
}

.textBG {
  opacity: 1;
}
.hideTextBG {
  opacity: 0;
  left: 140%;
  transition: all 1s ease 0.3s;
}

.hideBtnBack, .btnBack {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  transform: translate(-50%, -50%);
  font-weight: 800;
  z-index: 9;
  opacity: 1;
  transition: bottom 1s ease 2.5s, right 1s ease 2.5s, opacity 1s ease 2.5s;
}

.hideBtnBack {
  opacity: 0;
  bottom: 2rem;
  right: 5rem;
  transition: bottom 1s ease, right 1s ease, opacity 1s ease;
}
